@model IEnumerable<Order.Models.DBMYBLOGClass.User_Login>
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_LayoutOriginal.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin_PassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin_Guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin_CreatDT)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserLogin_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLogin_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLogin_PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLogin_State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLogin_Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLogin_CreatDT)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.UserLogin_ID }) |
                @Html.ActionLink("详细", "Details", new { id = item.UserLogin_ID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.UserLogin_ID })
            </td>
        </tr>
    }
</table>
